body {
  margin: 0;

  background-color: black;
}

/* Initial screen: Fullscreen, black */
main.initial {
  height: 100vh;
  background-color: black;
}

/* Simulation screen: Fullscreen, white */
main.simulation {
  height: 100vh;
  background-color: white;
}
